{% extends "DB128A/base.html" %}

{% block content %}
    <h1>Videoverhandlung.de Impressum:</h1>
    <p><u>Angaben gemäß § 5 TMG:</u><p>
    <p>Prof. Dr. Simon J. Heetkamp (digitale richterschaft)</p>
    <p>
        Technische Hochschule Köln<br>
        Campus Südstadt<br>
        Claudiusstraße 1<br>
        50678 Köln<br>
    </p>
    <p><a href="mailto:kontakt@videoverhandlung.de">kontakt@videoverhandlung.de</a></p>
    <p class="mt-3"><u>Haftungsausschluss für Inhalte und Verlinkung:</u></p>
    <p>
        Alle Angaben und Daten wurden nach bestem Wissen erstellt, es wird jedoch keine Gewähr für deren Vollständigkeit
        und Richtigkeit übernommen. Der Betreiber der Webseite hat keinerlei Einfluss auf die aktuelle und zukünftige
        Gestaltung und auf die Inhalte von per Link verknüpften externen Seiten. Deshalb distanziert er sich hiermit
        ausdrücklich von allen Inhalten aller verlinkten Seiten.
    </p>
{% endblock %}