{% extends "DB128A/base.html" %}
{% load static %}
{% load common_tags %}

{% block content %}
    <h1>{{ court.name }}</h1>

    <p>
        In der folgenden Tabelle finden Sie Informationen zum KI-Einsatz, der in Zusammenhang mit einem Verfahren an
        diesem Gericht mitgeteilt wurde.
    </p>

    <p>
        Sie können als verifizierter Nutzer selbst einen Eintrag vornehmen oder uns eine E-Mail an
        <a href="mailto:kontakt@videoverhandlung.de">kontakt@videoverhandlung.de</a> schicken.
    </p>

    <div class="btn-group" role="group" aria-label="Voting Buttons">
        {% if request.user|is_member:"Verifiziert" %}
            <a class="btn btn-primary" href="{% url "ai-usage-court-feedback" court.pk %}">Information mitteilen</a>
        {% endif %}
    </div>

    {% if court.has_ai_feedback %}
        <div class="my-3 overflow-x-auto">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Information</th>
                        <th>Genutzt von</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feedback in court.ai_feedbacks %}
                        <tr>
                            <td>{{ feedback.text|safe }}</td>
                            <td>
                                <div class="d-flex flex-wrap align-items-center gap-2 {% if feedback.ai_usage_groups_string %}justify-content-between{% else %}justify-content-end{% endif %}">
                                    {{ feedback.ai_usage_groups_string }}
                                    {% if request.user == feedback.user %}
                                        <a class="btn btn-primary" href="{% url 'ai-usage-court-feedback-edit' court.pk feedback.pk %}">Bearbeiten</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="my-3">Zu diesem Gericht liegen uns keine Informationen vor.</p>
    {% endif %}
{% endblock %}