{% extends "DB128A/base.html" %}
{% load ai_usage_tags %}
{% load django_bootstrap5 %}
{% load static %}
{% load mathfilters %}
{% load l10n %}

{% block content %}
    <p>
        Auf KI-vor-Gericht.de bieten wir die erste deutschsprachige Datenbank zu Fällen, in denen eine KI-Nutzung durch
        Verfahrensbeteiligte in gerichtlichen Entscheidungen thematisiert wird. Dies betrifft zum einen Fälle,
        in denen generative KI halluzinierte Inhalte produziert hat – in der Regel frei erfundene Zitate oder
        Rechtsansichten, aber auch andere Arten von KI-generierten Argumenten. Zum anderen werden auch Fälle erfasst,
        in denen KI zur Vorbereitung von Schriftsätzen, Gutachten, Entscheidungen o.ä. verwandt wurde und dies in der
        gerichtlichen Entscheidung thematisiert wird.
    </p>
    <p>
        Voreingestellt sehen Sie alle Gerichte, zu denen uns gemeldete Fälle vorliegen. Sie können die Such- oder
        Filterfunktion nutzen, um nach Fällen zu suchen.
    </p>
    <p>
        Insbesondere können Sie uns eigene Fälle per E-Mail an
        <a href="mailto:kontakt@videoverhandlung.de">kontakt@videoverhandlung.de</a> mitteilen oder diese selbst
        erfassen, sofern Sie sich vorab <a href="{% url "user-signup-request" %}">verifiziert haben</a>.
    </p>
    <p>
        Soweit die Entscheidungen veröffentlicht sind, verlinken wir diese gerne. Bei nicht-veröffentlichten
        Entscheidungen freuen wir uns über eine anonymisierte Fassung. Wenn Sie uns ein Aktenzeichen nennen, bemühen
        wir uns selbst darum, die Entscheidung zu erhalten.
    </p>
    <p>Weitere Informationen finden Sie in unserem <a href="{% url "ai-usage-faq" %}">FAQ</a>.</p>
    <h1>Gerichte</h1>
    <form role="search" method="get">
        <div class="row mt-3">
            <div class="col-12 d-flex">
                <input class="form-control me-2" type="search" placeholder="Suche..." aria-label="Suche" name="name" value='{{ request.GET.name }}'>
                <button class="btn btn-outline-success me-2" type="submit">Suchen</button>
                <button class="btn btn-outline-danger" type="button" onclick="location.href='/'">Zurücksetzen</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 mt-3">
                <label for="court_state">Bundesland:</label>
                <select id="court_state" name="court_state" class="form-select" aria-label="Bundesland Auswahl">
                    <option value="-">Alle</option>
                    {% for state in states %}
                        <option value="{{ state.0 }}" {% if request.GET.court_state == state.0 %}selected{% endif %}>{{ state.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3 mt-3">
                <label for="court_type">Art:</label>
                <select id="court_type" name="court_type" class="form-select" aria-label="Gerichtsart Auswahl">
                    <option value="-">Alle</option>
                    {% for court_type in court_types %}
                        {# court_type.id must be converted to string in the test because request.GET.court_type is a string as well #}
                        <option value="{{ court_type.id }}" {% if request.GET.court_type == court_type.id|stringformat:"i" %}selected{% endif %}>{{ court_type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3 mt-3">
                <label for="ai_information">KI-Eintrag vorhanden:</label>
                <select id="ai_information" name="ai_information" class="form-select" aria-label="KI-Eintrag vorhanden Auswahl">
                    <option value="-" {% if request.GET.ai_information == "-" %}selected{% endif %}>Alle</option>
                    <option value="True" {% if request.GET.ai_information != "-" and request.GET.ai_information != "False" %}selected{% endif %}>Ja</option>
                    <option value="False" {% if request.GET.ai_information == "False" %}selected{% endif %}>Nein</option>
                </select>
            </div>
            <div class="col-md-3 mt-3">
                <label for="ai_usage_groups_accordion">KI Nutzergruppen:</label>
                <div class="accordion" id="ai_usage_groups_accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button {% if not selected_ai_usage_groups %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="
                                padding: .375rem .75rem .375rem .75rem;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5;
                            ">Auswählen</button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse {% if selected_ai_usage_groups %}show{% endif %}" data-bs-parent="#ai_usage_groups_accordion">
                            <div class="accordion-body">
                                {% for usage_group in ai_usage_groups %}
                                    <div class="form-check">
                                        <input type="checkbox" id="ai_usage_group_{{ usage_group.id }}" name="ai_usage_groups" value="{{ usage_group.id }}" {% if usage_group.id|stringformat:"i" in selected_ai_usage_groups %}checked{% endif %} />
                                        <label for="ai_usage_group_{{ usage_group.id }}">{{ usage_group.name }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="overflow-x-auto">
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>Gericht</th>
                <th>Genutzt von</th>
            </tr>
            {% for court in page_obj %}
                <tr style="cursor: pointer;" onclick="window.location.href='{% url 'ai-usage-court-detail' court.pk %}'">
                    <td>{{ court.name }}</td>
                    <td>{{ court.ai_usage_groups_string }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="overflow-x-auto">
        {% bootstrap_pagination page_obj url=request|create_ai_usage_pagination_url %}
    </div>

{% endblock %}
