{% extends "DB128A/base.html" %}
{% load static %}
{% load common_tags %}

{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static "ai_usage/court-detail.js" %}"></script>

    <h1>{{ court.name }}</h1>

    <p>
        Sie können Ihre Erkenntnisse zu diesem Gericht gerne mitteilen. ???
    </p>

    <div class="btn-group" role="group" aria-label="Voting Buttons">
        {% if request.user|is_member:"Verifiziert" %}
            <a class="btn btn-primary" href="{% url "ai-usage-court-feedback" court.pk %}">Information geben</a>
        {% endif %}
    </div>

    {% if court.has_ai_usage_groups %}
        <div class="row">
            <div class="col">
                <div class="google-chart" id="ai_usage_groups_chart" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
    {% endif %}

    <div class="my-3">
        <h3 class="mb-3">Informationen verifizierter Nutzer:</h3>

        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>Feedback</th>
                <th>Genutzt von</th>
            </tr>
            {% for feedback in court.ai_feedbacks %}
                <tr>
                    <td>{{ feedback.text }}</td>
                    <td>{{ feedback.ai_usage_groups_string }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if court.has_ai_usage_groups %}
        <script>
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(function () {
                drawChart({{ court.get_ai_usage_groups_chart_data|safe }});
            });
        </script>
    {% endif %}
{% endblock %}