{% extends "DB128A/base.html" %}
{% load static %}

{% block content %}
    <h2 class="mt-4">Wer betreibt KI-vor-Gericht.de?</h2>
    <p>
       KI-vor-Gericht.de ist neben <a href="https://videoverhandlung.de">Videoverhandlung.de</a> ein weiteres
        pro bono-Projekt, ins Leben gerufen von:
    </p>
    <ul>
        <li>
            Dr. Christian Schlicht (Richter am Landgericht, Mitgründer der digitalen richterschaft
            <a href="https://www.digitale-richterschaft.de" target="_blank">www.digitale-richterschaft.de</a>)
        </li>
        <li>
            Philipp Mayr (Fachinformatiker,
            <a href="https://www.linkedin.com/in/philipp-mayr-552327153" target="_blank">LinkedIn</a>,
            <a href="https://mayr.software" target="_blank">mayr.software</a>)
        </li>
        <li>
            Mathias Schuh (Doktorand Uni Köln, Mitgründer
            <a href="https://recode.law" target="_blank">recode.law</a>)
        </li>
        <li>
            Dr. Simon J. Heetkamp, LL.M. (Professor an der TH Köln/ivwKöln, Mitgründer der digitalen richterschaft
            <a href="https://www.digitale-richterschaft.de" target="_blank">www.digitale-richterschaft.de</a>,
            <a href="https://www.linkedin.com/in/simon-j-heetkamp-bb307b89" target="_blank">LinkedIn</a>)
        </li>
    </ul>

    <h2 class="mt-4">Ist ein Account erforderlich?</h2>
    <p>
        Nein. Sie können Ihre Erkenntnisse auch per E-Mail an
        <a href="mailto:kontakt@videoverhandlung.de">kontakt@videoverhandlung.de</a> mitteilen. Mit einem Account können
        Sie selbstständig Eintragungen vornehmen. Wir überprüfen die Angaben in beiden Fällen nach intern festgelegten
        Richtlinien, um valide Informationen zur Verfügung zu stellen.
    </p>

    <h2 class="mt-4">Sollte ich einen Account erstellen?</h2>
    <p>
        Ein Account ist sinnvoll, wenn Sie zu einzelnen oder mehreren Gerichten umfassend und/oder fortwährend
        Erkenntnisse mitteilen möchten. Ihre Identität wird von uns einmalig verifiziert. Zugleich können Sie sich mit
        einem Account auch auf <a href="https://videoverhandlung.de">Videoverhandlung.de</a> einloggen und dort
        Erkenntnisse mitteilen.
    </p>

    <h2 class="mt-4">Kann ich den Account von Videoverhandlung.de nutzen?</h2>
    <p>Ja. Der Account gilt für beide Portale.</p>

    <h2 class="mt-4">Wie erhalte ich einen Account?</h2>
    <p>
        Für einen Account muss das <a href="{% url "user-signup-request" %}">Registrierungsformular</a> ausgefüllt
        werden. Nach Eingabe der Kontaktdaten kontaktieren wir Sie.
    </p>

    <h2 class="mt-4">Ist Ihnen ein Fehler aufgefallen?</h2>
    <p>
        Fehlt ein Gericht? Sind bestimmte Informationen unzutreffend? Kontaktieren Sie uns gerne unter
        <a href="mailto:kontakt@videoverhandlung.de">kontakt@videoverhandlung.de</a>.
    </p>

    <h2 class="mt-4">Ich habe weitere Fragen!</h2>
    <p>
        Wir helfen gerne unter <a href="mailto:kontakt@videoverhandlung.de">kontakt@videoverhandlung.de</a> weiter! Wer
        uns unterstützen möchte, kann sich ebenfalls gerne melden.
    </p>

    <h2 class="mt-4">Unterstützung</h2>
    <p>
        KI-vor-Gericht.de wird unterstützt von<br>
        <a href="https://recode.law" target="_blank"><img style="max-width:50%; max-height:100%;" src="{% static 'DB128A/recode_logo.png' %}" alt="recode.law logo"></a>
    </p>
{% endblock %}