{% extends "DB128A/base.html" %}
{% load static %}

{% block content %}
    <h1>Quellen zu KI & Justiz</h1>
    <p>
        An dieser Stellen wollen wir auf weiterführende Literatur zum Themenfeld Künstliche Intelligenz und Justiz
        hinweisen. Senden Sie uns gerne interessante Fundstellen per E-Mail an
        <a href="mailto:kontakt@videoverhandlung.de">kontakt@videoverhandlung.de</a>, die wir dann hier ergänzen.
    </p>
    <ul>
        <li>
            Dötterl, Von ChatGPT zu JudgeGPT? Über generative KI und richterliche Entscheidungsfindung, NJW 2025, 3409
        </li>
        <li>
            Effer-Uhe, Weniger Verzerrung und Verrauschung (Streuung) juristischer Entscheidungen durch den Einsatz
            künstlicher Intelligenz? Chancen und Risiken einer Automatisierung der Rechtsanwendung, ZfDR 2025, 255
        </li>
        <li>
            Maddaloni, Argument Mining im Zivilprozess: Technisches Potenzial und regulatorischer Handlungsbedarf für
            Künstliche Intelligenz in der Justiz, LTZ 2025, 309
        </li>
        <li>
            Riehm/Valerius, KI-Halluzinationen im Zivilprozess, RDi 2025, 612
        </li>
    </ul>
{% endblock %}