{% extends "DB128A/base.html" %}
{% load static %}
{% load cookiebanner %}

{% block content %}
    {% cookie_accepted 'essential' as cookie_essential %}
    <script src="{% static "user_signup/create_password.js" %}"></script>
    <h1>Passwort erstellen</h1>
    <p>Hallo {{ user.first_name }} {{ user.last_name }}.</p>
    <p>Ihr Nutzername ist {{ user.username }}.</p>
    <p>Bitte legen Sie ein Passwort fest.</p>
    
    <form method="post" class="mt-3">
        {% if cookie_essential %}
            {% csrf_token %}
        {% endif %}

        {% if pv_error %}
            <div class="alert alert-danger my-3" role="alert">
                {{ pv_error }}
            </div>
        {% endif %}
        
        <div class="mb-3">
            <label for="password" class="form-label">Passwort:</label>

            <div class="input-group mb-3">
                <input type="password" class="form-control" id="password" name="password" required>
                <span class="input-group-text" onclick="changeVisibility('password')" style="cursor: pointer"><i id="passwordEye" class="bi bi-eye-slash-fill"></i></span>
            </div>
        </div>
        <div class="mb-3">
            <label for="passwordRepeat" class="form-label">Passwort wiederholen:</label>

            <div class="input-group mb-3">
                <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" required>
                <span class="input-group-text" onclick="changeVisibility('passwordRepeat')" style="cursor: pointer"><i id="passwordRepeatEye" class="bi bi-eye-slash-fill"></i></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}