{% load static %}

<head>
    <title>Videoverhandlung.de Verifikation</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif">
    <h1><img src="{{ url_base }}{% static 'DB128A/icons/logo.svg' %}" width="40" height="40" alt="Videoverhandlung.de Logo" style="vertical-align: middle"> Videoverhandlung.de</h1>

    <p>Guten Tag {{ signup_request.user.first_name }} {{ signup_request.user.last_name }}!</p>

    <p>
        Sie haben sich erfolgreich für einen Account auf <a href="{{ url_base }}{% url 'video-conference-root' %}">Videoverhandlung.de</a>
        verifiziert. Bitte vergeben Sie über folgenden Link ein Passwort:
    </p>

    <p>
        <a href="{{ url_base }}{% url 'user-signup-verify' signup_request.verification_code %}">Passwort vergeben</a>
    </p>

    <p>
        Anschließend können Sie sich mit Ihrer E-Mail-Adresse/Ihrem Nutzernamen({{ signup_request.user.username }}) und
        Ihrem Passwort über den <a href="{{ url_base }}{% url 'login' %}">Login</a> anmelden.
    </p>

    <p>
        Wir danken Ihnen sehr, dass Sie unser Projekt durch Ihre Mithilfe unterstützen. Bei Fragen können Sie sich gerne
        melden: <a href="mailto:kontakt@videoverhandlung.de">kontakt@videoverhandlung.de</a>
    </p>

    <p>
        Beste Grüße<br>
        {{ sender }}
    </p>
</body>