{% load static %}

<head>
    <title>Passwort Zurücksetzen für Videoverhandlung.de und KI-vor-Gericht.de</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif">
    <h1>
        <img src="{{ url_base }}{% static 'DB128A/icons/logo.svg' %}" width="40" height="40" alt="Videoverhandlung.de Logo" style="vertical-align: middle">
        Videoverhandlung.de / KI-vor-Gericht.de
    </h1>

    <p>Guten Tag {{ reset_request.user.first_name }} {{ reset_request.user.last_name }}!</p>

    <p>
        Sie haben eine Password Zurücksetzung für Ihren Account auf
        <a href="https://Videoverhandlung.de">Videoverhandlung.de</a> und
        <a href="https://KI-vor-Gericht.de">KI-vor-Gericht.de</a> angefragt.
        Bitte vergeben Sie über folgenden Link ein neues Passwort:
    </p>

    <p>
        <a href="{{ url_base }}{% url 'reset-password' reset_request.verification_code %}">Passwort Zurücksetzen</a>
    </p>

    <p>
        Anschließend können Sie sich mit Ihrer E-Mail-Adresse/Ihrem Nutzernamen({{ reset_request.user.username }}) und
        Ihrem neuen Passwort über den <a href="{{ url_base }}{% url 'login' %}">Login</a> anmelden.
    </p>

    <p>
        Sollte diese Anfrage nicht von Ihnen sein, bitte ignorieren Sie diese E-Mail. Bei Fragen können Sie sich gerne
        melden: <a href="mailto:kontakt@videoverhandlung.de">kontakt@videoverhandlung.de</a>
    </p>

    <p>
        Beste Grüße<br>
        Das Videoverhandlung.de und KI-vor-Gericht.de Team
    </p>
</body>