{% extends "DB128A/base.html" %}
{% load static %}
{% load cookiebanner %}

{% block content %}
    {% cookie_accepted 'essential' as cookie_essential %}

    <script type="module" src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.14/widget.module.min.js" async defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.14/widget.min.js" async defer></script>
    <h1>Registrierungsformular</h1>
    <p>
        Mit einem Account können Sie Erkenntnisse zu allen Gerichten mitteilen, ohne dass diese durch uns gesondert
        freigegeben werden. Zudem können Sie textbasierte Informationen eingeben. Um Ihren Account einmalig zu
        verifizieren, prüfen wir anhand der folgenden Informationen Ihre Identität.
    </p>
    <form class="mt-3" id="signup_request_form" method="post">
        {% if cookie_essential %}
            {% csrf_token %}
        {% endif %}
        <div class="mb-3">
            <label for="first_name" class="form-label">Vorname</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ request.POST.first_name }}" required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Nachname</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ request.POST.last_name }}" required>
        </div>
        <div class="mb-3">
            <label for="workplace" class="form-label">Arbeitsplatz</label>
            <input type="text" class="form-control" id="workplace" name="workplace" value="{{ request.POST.workplace }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-Mail</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ request.POST.email }}" required>
            {% if mail_error %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ mail_error }}
                </div>
            {% endif %}
        </div>
        <div class="frc-captcha mb-3" data-sitekey="{{ captcha_public_key }}" data-lang="de"></div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" name="check" class="form-check-input" required="" id="id_check">
                <label class="form-check-label" for="id_check">
                    Ich habe die <a href="/privacy" target="_blank">Datenschutzerklärung</a> gelesen und willige der
                    Datenverarbeitung ein.
                </label>
            </div>
        </div>
        <button class="btn btn-primary">Senden</button>
    </form>
{% endblock %}